{% extends 'base.html.twig' %}


{% block title %}
    Kontakt{% endblock %}

{% block body %}
    <div class="contact-info">
    <h1> Kontakt </h1>
    <p> Masz propozycje dotyczące aplikacji lub potrzebujesz pomocy? Napisz lub zadzwoń.</p>
    <h2> <span class="material-symbols-outlined">mail</span>Adres E-mail: </h2>
    <p>email@example.com</p>
    <h2> <span class="material-symbols-outlined">phone</span>Infolinia: </h2>
    <p> +48 123 456 789</p>
    </div>

{% endblock %}