{% extends 'base.html.twig' %}

{% block title %}Delete Book{% endblock %}

{% block body %}
    <h1>Delete Book: {{ book.title }}</h1>

    <p>Are you sure you want to delete this book?</p>

    {{ form_start(form) }}
    <button type="submit">Yes, delete</button>
    {{ form_end(form) }}

    <a href="{{ path('book_index') }}">Cancel</a>
{% endblock %}
