{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.book_search'|trans }}
{% endblock %}
{% block body %}

    <h1>{{ 'title.book_search'|trans }}</h1>

    {% include 'default/_search_form.html.twig' with {
        page_title: 'title.book_search'|trans,
        form: form,
        submit_label: 'action.search'|trans,
        back_to_list_path: '',
    } %}
<br>
    {% include'book/list.html.twig' %}
{% endblock %}