

{# templates/review/delete.html.twig #}
{% extends 'book/show.html.twig' %}

{% block add_review %}
    <div class="delete review-form-container ">
    <section class="review-form-section">
        <h3>Czy na pewno chcesz usunąć tę recenzję?</h3>
        {% set isUserOwn = false  %}
        {% include 'review/_card.html.twig' %}
        {{ form_start(form) }}
        <div class="review-actions">
            <a href="{{ path('book_show', { slug: review.book.slug }) }}" class="btn btn-outline-primary mt-2">Anuluj</a>
        <button type="submit" class="btn  btn-danger" data-turbo="false">Usuń</button>
        {{ form_end(form) }}


        </div>
    </section>
    </div>

{% endblock %}
