{% extends 'base.html.twig' %}

{% block title %}
    Twoje recenzje{% endblock %}

{% block body %}
    {% set isUserOwn = true %}
    {% set ratingVisible = false %}
    <section class="reviews-page">
        <div class="reviews-header">
            <h1 class="reviews-title">Twoje recenzje</h1>
{#            <a href="{{ path('review_create') }}" class="btn btnPrimary reviews-new-btn">+ Napisz nową</a>#}
        </div>
      {% include 'review/_review_list.html.twig' %}
    </section>
{% endblock %}
