$body-bg: rgb(249, 243, 235);
$text-color: #000000;
$font-stack: 'Commissioner ', system-ui, sans-serif;
//'Roboto'
$color-primary: #0f4c5c;
$color-secondary: #e36414 ;
$color-accent-first: #9a031e ;
$color-accent-second: #fb8b24;
$color-accent-third: #5f0f40;
$radius: 10px;

$gradient-bg:
        //linear-gradient(32deg, rgba(1, 0, 26, 0.64) 0%, rgba(9, 74, 121, 0.46) 43%, rgba(49, 63, 42, 0.47) 100%),
        linear-gradient(
                        90deg,
                        $color-primary 0%,
                        $color-accent-first 38%,
                        $color-accent-second 100%
        );