@use 'variables' as *;
@use 'mixins';
@use 'base/reset';
@use 'base/typography';
@use 'layout/header';
@use 'layout/footer';
@use 'components/buttons';
@use 'components/bookcard';
@use 'dashboard_content';

@use 'components/reviewcard';
@use 'layout/navbar';
@use 'pages/book';
@use 'components/filter_form';
@use 'pages/login';
@use 'pages/bookshelf';
@use 'pages/author';
@use 'pages/search';
@use 'pages/for_you';
@use 'pages/register';
@use 'components/review_form';
@use 'pages/profile_page';
@use "pages/library";
@use 'components/flash';

body {
  background: $body-bg;
  color: $text-color;
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}
