{% extends 'base.html.twig' %}

{% block title %}Dla Ciebie{% endblock %}

{% block body %}
    <h1>Polecane ksiazki</h1>
    <div>
        {% if app.user %}
            <p>Pozycje wybierane są na podstawie Twoich ocen. Przeczytaj więcej książek, aby otrzymywać lepsze propozycje!</p>

        {% else %}

           <p > Zaloguj sie lub zarejestruj, aby otrzymywac propozycje wybrane specjalnie dla Ciebie.</p>
        {% endif %}

        <section>
            <h2>Wyniki</h2>

            {% if books is not empty %}
                    {% for book in books %}
                 {% include "book_card.html.twig" %}
                {% endfor %}
            {% else %}
                <p>Brak rekomendacji na ten moment. Przeczytaj kilka książek lub napisz recenzję, by zobaczyć propozycje!</p>
            {% endif %}
        </section>
    </div>
{% endblock %}
