{% extends 'base.html.twig' %}

{% block title %}Dla Ciebie{% endblock %}

{% block body %}
    <h1 class="text2xl fontBold mb4">Rekomendacje dla Ciebie</h1>

    {% if books is not empty %}
        <div class="grid gridCols1 sm:gridCols2 md:gridCols3 gap4">
            {% for book in books %}
                <div class="border roundedXl p4 shadow">
                    <h2 class="textXl fontSemibold">{{ book.title }}</h2>
                    <p class="textSm mt2">{{ book.description|u.truncate(100) }}</p>
                    <a href="{{ path('book_show', {slug: book.slug}) }}" class="textBlue600 textSm">Zobacz szczegóły</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Brak rekomendacji na ten moment. Przeczytaj kilka książek lub napisz recenzję, by zobaczyć propozycje!</p>
    {% endif %}
{% endblock %}
