{% extends 'base.html.twig' %}

{% block title %}Tag Details{% endblock %}

{% block body %}
    <h1>{{ tag.title }}</h1>

    <a href="{{ path('tag_edit', {id: tag.id}) }}">Edit</a>
    <a href="{{ path('tag_delete', {id: tag.id}) }}">Delete</a>
    <a href="{{ path('tag_index') }}">Back to list</a>
{% endblock %}
