{% extends 'book/show.html.twig' %}

{% block add %}


    {%set formVisible = true %}
    {{ form_start(form,{ 'attr' : { 'class': 'add-to-lib' } }) }}
    {{ form_row(form.status) }}
    <button class="btn add-review">Zapisz</button>
    {{ form_end(form) }}
{% endblock %}

{% set formVisible = true %}
