{% extends 'base.html.twig' %}

{% block title %}Biblioteka{% endblock %}

{% block body %}
    <section class="library-page" data-turbo="false">
        <div class="library-container">
            <h1 class="library-title">Biblioteczka</h1>

            {% set var = true %}

        {% include 'library/_library_list.html.twig' %}

        </div>
    </section>
<script defer>
document.addEventListener('click', (e) => {
    const header = e.target.closest('.shelf-header');
    if (!header) return;

    const shelf = header.closest('.shelf');
    const panel = shelf?.querySelector('.shelf-panel');
    if (!shelf || !panel) return;

    const isOpen = panel.classList.toggle('is-open');

    header.setAttribute('aria-expanded', isOpen);
});
</script>
{% endblock %}
