{% extends 'base.html.twig' %}
{% block title %}Zmień avatar{% endblock %}

{% block body %}
    <h1>Zmień avatar</h1>
    {{ form_start(form) }}
    {{ form_row(form.avatar) }}
    <button class="btn">Zapisz</button>
    {{ form_end(form) }}
{% endblock %}
